*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body textarea:focus:required:invalid {
  border: 3px solid red;
}

body textarea:required:valid {
  border: 3px solid green;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 1.4;
  margin: 0;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

header .logo {
  display: inline-block;
  font-family: "Lobster1.4";
  font-size: 43px;
  margin-top: 20px;
  margin-bottom: 23px;
}

header .logo a {
  text-decoration: none;
  color: #44c0c2;
}

header nav {
  float: right;
  margin-top: 40px;
}

header nav a {
  text-decoration: none;
  color: #484c55;
  font-size: 15px;
  font-family: "OpenSansRegular";
  margin-left: 5px;
  padding-top: 40px;
  padding-right: 24px;
  padding-left: 20px;
  padding-bottom: 40px;
}

header nav a:hover {
  background-color: #f8f9fb;
  border-bottom: solid 3px #49cbcd;
  color: #49cbcd;
}

.car {
  background-image: url("../img/header_fon.jpg");
  min-height: 566px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#owl-carousel .item {
  position: relative;
  text-align: center;
  padding-top: 130px;
}

#owl-carousel .item .top_text {
  font-size: 63px;
  font-family: "OpenSansSemiBold";
  color: #fff;
}

#owl-carousel .item .text {
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
  font-size: 23px;
  font-family: "OpenSansRegular";
  color: #fff;
}

#owl-carousel .item button {
  background: none;
  color: #fff;
  font-family: "OpenSansSemiBold";
  font-size: 26px;
  margin-top: 50px;
  border: 3px solid #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 20px 35px 20px 40px;
  cursor: pointer;
}

#owl-carousel .owl-prev:after {
  content: "\f104";
  font: normal normal normal 14px/1 FontAwesome;
  width: 50px;
  height: 50px;
  left: 55px;
  font-size: 50px;
  text-align: center;
  color: #49cbcd;
  position: absolute;
  top: 274px;
  margin-left: -25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fefefe;
  padding: 13px 15px;
}

#owl-carousel .owl-next:after {
  content: "\f105";
  width: 50px;
  height: 50px;
  font: normal normal normal 14px/1 FontAwesome;
  right: 55px;
  font-size: 50px;
  text-align: center;
  color: #49cbcd;
  position: absolute;
  top: 274px;
  margin-right: -25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fefefe;
  padding: 13px 15px;
}

.team {
  font-family: "OpenSansRegular";
  color: #4e525d;
}

.team .top_text {
  text-align: center;
  font-size: 42px;
  padding-top: 100px;
}

.team .team_members {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 130px;
}

.team .team_members .member {
  width: 25%;
}

.team .team_members .member .icon {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #eeeef0;
  display: inline-block;
  position: relative;
}

.team .team_members .member .icon img {
  display: none;
}

.team .team_members .member .icon:hover img {
  width: 41px;
  height: 41px;
  position: absolute;
  top: 82px;
  left: 78px;
  display: inline-block;
}

.team .team_members .member .member_name {
  font-size: 22px;
  padding-top: 65px;
}

.team .team_members .member .member_profession {
  font-size: 14px;
  padding-top: 5px;
}

.team .team_members .member .discription {
  font-size: 14px;
  padding-top: 30px;
  width: 260px;
}

.package_versions {
  background-color: #f1f1f1;
  margin-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.package_versions .packages_types {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 119px;
}

.package_versions .packages_types .package {
  width: 368px;
  margin-right: 32px;
  border: solid 1px #ecf0f1;
}

.package_versions .packages_types .package:last-child {
  margin-right: 0;
}

.package_versions .packages_types .package .first_p, .package_versions .packages_types .package .second_p, .package_versions .packages_types .package .third_p {
  background-color: #485460;
  padding-top: 25px;
  padding-bottom: 27px;
  font-family: "OpenSansRegular";
  color: #fff;
  font-size: 26px;
  -webkit-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}

.package_versions .packages_types .package .packages_cost {
  padding-top: 22px;
  padding-bottom: 25px;
  color: #485460;
  font-family: "OpenSansRegular";
  font-size: 20px;
  background-color: #f8f9fb;
}

.package_versions .packages_types .package ul {
  list-style: none;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.package_versions .packages_types .package ul li {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: solid 1px #ecf0f1;
  color: #8c9299;
  font-size: 14px;
  font-family: "OpenSansRegular";
}

.package_versions .packages_types .package .button_block {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f8f9fb;
}

.package_versions .packages_types .package .button_block button {
  padding: 10px 50px;
  color: #fff;
  font-family: "OpenSansSemiBold";
  font-size: 17px;
  background-color: #788492;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

footer {
  background-image: url("../img/footer_fon.jpg");
  min-height: 686px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

footer .top_text {
  font-family: "OpenSansRegular";
  font-size: 42px;
  color: #fff;
  padding-top: 100px;
}

footer .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer .info .contact_info {
  width: 50%;
  text-align: left;
}

footer .info .contact_info .top_text {
  font-family: "OpenSansRegular";
  font-size: 24px;
  color: #fff;
}

footer .info .contact_info .text {
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: #808080;
  width: 450px;
}

footer .info .contact_info ul {
  list-style: none;
  padding: 0;
}

footer .info .contact_info ul li {
  display: inline-block;
  margin-right: 12px;
}

footer .info .contact_info .author {
  font-family: "MyriadProRegular";
  color: #bface2;
  font-size: 14px;
}

footer .info .contact_info .phone_number {
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: #bface2;
}

footer .info .contact_info .email {
  font-family: "MyriadProRegular";
  color: #bface2;
  font-size: 14px;
}

footer .info form {
  width: 50%;
}

footer .info form input[name="name"], footer .info form [name="email"] {
  width: 270px;
  height: 44px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: none;
}
