*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body textarea:focus:required:invalid {
  border: 3px solid red;
}

body textarea:required:valid {
  border: 3px solid green;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 1.4;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

header .logo {
  display: inline-block;
  font-family: "Lobster1.4";
  font-size: 43px;
  margin-top: 25px;
  margin-bottom: 30px;
}

header .logo a {
  text-decoration: none;
  color: #44c0c2;
}

header nav {
  float: right;
  margin-top: 40px;
}

header nav a {
  text-decoration: none;
  color: #484c55;
  font-size: 15px;
  font-family: "OpenSansRegular";
  margin-left: 5px;
  padding-top: 40px;
  padding-right: 24px;
  padding-left: 20px;
  padding-bottom: 40px;
}

header nav a:hover {
  background-color: #f8f9fb;
  border-bottom: solid 3px #49cbcd;
  color: #49cbcd;
}
