$logo: #44c0c2;
$blue: #49cbcd;
$sans: "OpenSansRegular";
$sans_b: "OpenSansSemiBold";

*::-webkit-input-placeholder 
	color: #c1c1c1
	opacity: 1
	font-family: $sans
	font-size: 16px

*:-moz-placeholder 
	color: #c1c1c1
	opacity: 1
	font-family: $sans
	font-size: 16px

*::-moz-placeholder 
	color: #c1c1c1
	opacity: 1
	font-family: $sans
	font-size: 16px

*:-ms-input-placeholder 
	color: #c1c1c1
	opacity: 1
	font-family: $sans
	font-size: 16px

*::-webkit-textarea-placeholder 
	color: #c1c1c1
	opacity: 1
	font-family: $sans
	font-size: 16px

*:-ms-textarea-placeholder 
	color: #c1c1c1
	opacity: 1
	font-family: $sans
	font-size: 16px


body input:focus:required:invalid
body textarea:focus:required:invalid 
	border: 3px solid red

body input:required:valid
body textarea:required:valid 
	border: 3px solid green



body
	width: 100%
	height: 100%
	position: relative
	line-height: 1.4
	margin: 0
.wrapper
	max-width: 1170px
	margin: 0 auto
header
	position: fixed
	height: 100px
	width: 100%
	margin: 0 auto
	background-image: url("../img/header_fixed_fon.jpg")
	z-index: 999
	.logo
		display: inline-block
		font-family: "Lobster1.4"
		font-size: 43px
		margin-top: 20px
		margin-bottom: 23px
		a
			text-decoration: none
			color: $logo
	nav
		float: right
		margin-top: 40px
		a
			text-decoration: none
			color: #484c55
			font-size: 15px
			font-family: $sans
			margin-left: 5px
			padding-top: 40px
			padding-right: 24px
			padding-left: 20px
			padding-bottom: 38px
			&:hover
				background-color: #f8f9fb
				border-bottom: solid 3px $blue
				color: $blue
.car
	background-image: url("../img/header_fon.jpg")
	min-height: 566px
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
#owl-carousel
	z-index: 0
	.item
		position: relative
		text-align: center
		padding-top: 130px
		.top_text
			font-size: 63px
			font-family: $sans_b
			color: #fff
		.text
			padding-top: 20px
			width: 400px
			margin: 0 auto
			font-size: 23px
			font-family: $sans
			color: #fff
		button
			background: none
			color: #fff
			font-family: $sans_b
			font-size: 26px
			margin-top: 50px
			border: 3px solid #fff
			border-radius: 5px
			padding: 20px 35px 20px 40px 
			cursor: pointer
	.owl-prev:after
		content: "\f104"
		font: normal normal normal 14px/1 FontAwesome
		width: 50px
		height: 50px
		left: 55px
		font-size: 50px
		text-align: center
		color: $blue
		position: absolute
		top: 274px
		margin-left: -25px
		border-radius: 50%
		background-color: #fefefe
		padding: 13px 15px
	.owl-next:after
		content: "\f105"
		width: 50px
		height: 50px
		font: normal normal normal 14px/1 FontAwesome
		right: 55px
		font-size: 50px
		text-align: center
		color: $blue
		position: absolute
		top: 274px
		margin-right: -25px
		border-radius: 50%
		background-color: #fefefe
		padding: 13px 15px

.team
	font-family: $sans
	color: #4e525d
	.top_text
		text-align: center
		font-size: 42px
		padding-top: 100px
	.team_members
		display: flex
		text-align: center
		padding-top: 130px
		.member
			width: 25%
			.icon
				width: 200px
				height: 200px
				border-radius: 50%
				background-color: #eeeef0
				display: inline-block
				position: relative
				img
					display: none
					
				&:hover
					img
						width: 41px
						height: 41px
						position: absolute
						top: 82px
						left: 78px
						display: inline-block
			.member_name
				font-size: 22px
				padding-top: 65px
				
			.member_profession
				font-size: 14px
				padding-top: 5px
			.discription
				font-size: 14px
				padding-top: 30px
				width: 260px

.package_versions
	background-color: #f1f1f1
	margin-top: 100px
	padding-bottom: 100px
	text-align: center
	.packages_types
		display: flex
		padding-top: 119px
		.package
			width: 368px
			margin-right: 32px
			border: solid 1px #ecf0f1
			&:last-child
				margin-right: 0
			.first_p, .second_p, .third_p
				background-color: #485460
				padding-top: 25px
				padding-bottom: 27px
				font-family: $sans
				color: #fff
				font-size: 26px
				border-radius: 2px 2px 0 0
			.packages_cost
				padding-top: 22px
				padding-bottom: 25px
				color: #485460
				font-family: $sans
				font-size: 20px
				background-color: #f8f9fb
			ul
				list-style: none
				background-color: #FFF
				margin: 0
				padding: 0
				li
					padding-top: 15px
					padding-bottom: 15px
					border-top: solid 1px #ecf0f1
					color: #8c9299
					font-size: 14px
					font-family: $sans
			.button_block
				padding-top: 30px
				padding-bottom: 30px
				background-color: #f8f9fb
				button
					padding: 10px 50px
					color: #fff
					font-family: $sans_b
					font-size: 17px
					background-color: #788492
					border: none
					border-radius: 3px
				
footer
	background-image: url("../img/footer_fon.jpg")
	min-height: 686px
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	text-align: center
	.top_text
		font-family: $sans
		font-size: 42px
		color: #fff
		padding-top: 100px
		padding-bottom: 110px
	.info
		display: flex
		.contact_info
			width: 50%
			text-align: left
			.top_text_info
				font-family: $sans
				font-size: 24px
				color: #fff
				padding-bottom: 10px
			.text
				font-family: $sans
				font-size: 14px
				color: #808080
				width: 450px
			ul
				list-style: none
				padding: 0
				margin-top: 35px
				margin-bottom: 20px
				li
					display: inline-block
					margin-right: 12px
			.author
				font-family: "MyriadProRegular"
				color: #bface2
				font-size: 14px
			.phone_number
				font-family: $sans
				font-size: 14px
				color: #bface2
			.email
				font-family: "MyriadProRegular"
				color: #bface2
				font-size: 14px

		form
			width: 50%
			text-align: right
			input[name="name"]
				width: 250px
				height: 44px
				border-radius: 2px
				border: none
				padding-left: 20px
				
			input[name="email"]
				margin-left: 30px
				width: 250px
				height: 44px
				border-radius: 2px
				border: none
				padding-left: 20px
			textarea
				width: 552px
				height: 159px
				border-radius: 2px
				border: none	
				padding-left: 20px
				padding-top: 20px
				margin-top: 30px
			input[type="submit"]
				padding: 15px 66px 20px 54px
				background-color: $blue
				border: none
				border-radius: 3px
				color: #fff
				font-family: $sans
				font-size: 22px
				margin-top: 25px
				cursor: pointer




